In [2]:
import pandas as pd

from vega_datasets import data
data.sf_temps()

      temp                date
0     47.8 2010-01-01 00:00:00
1     47.4 2010-01-01 01:00:00
2     46.9 2010-01-01 02:00:00
3     46.5 2010-01-01 03:00:00
4     46.0 2010-01-01 04:00:00
...    ...                 ...
8754  50.4 2010-12-31 19:00:00
8755  49.9 2010-12-31 20:00:00
8756  49.4 2010-12-31 21:00:00
8757  48.8 2010-12-31 22:00:00
8758  48.3 2010-12-31 23:00:00

[8759 rows x 2 columns]

# 1. Resample by the day and take the average temperature. Visualize the average temperature over time.

# 2. Write the code necessary to visualize the minimum temperature over time.

# 3. Write the code necessary to visualize the maximum temperature over time.

# 4. Which month is the coldest, on average?

# 5. Which month has the highest average temperature?

# 6. Resample by the day and calculate the min and max temp for the day (Hint: `.agg(['min', 'max'])`). Use this resampled dataframe to calculate the change in temperature for the day. Which month has the highest daily temperature variability?

# 7. Bonus: Visualize the daily min, average, and max temperature over time on a single line plot, i.e. the min, average, and maximum temperature should be 3 seperate lines.

In [3]:
from vega_datasets import data
data.seattle_weather()

           date  precipitation  temp_max  temp_min  wind  weather
0    2012-01-01            0.0      12.8       5.0   4.7  drizzle
1    2012-01-02           10.9      10.6       2.8   4.5     rain
2    2012-01-03            0.8      11.7       7.2   2.3     rain
3    2012-01-04           20.3      12.2       5.6   4.7     rain
4    2012-01-05            1.3       8.9       2.8   6.1     rain
...         ...            ...       ...       ...   ...      ...
1456 2015-12-27            8.6       4.4       1.7   2.9      fog
1457 2015-12-28            1.5       5.0       1.7   1.3      fog
1458 2015-12-29            0.0       7.2       0.6   2.6      fog
1459 2015-12-30            0.0       5.6      -1.0   3.4      sun
1460 2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

Use the dataset to answer the following questions:

- Which year and month combination has the highest amount of precipitation?
- Visualize the amount of monthly precipitation over time.
- Visualize the amount of wind over time. Choose a time interval you think is appropriate.
- Which year-month combination is the windiest?
- What's the sunniest year? (Hint: which day has the highest number of days where weather == sun?)
- In which month does it rain the most?
- Which month has the most number of days with a non-zero amount of precipitation?

In [4]:
data.flights_20k()

                     date  delay  distance origin destination
0     2001-01-13 14:56:00     32       417    SAN         SJC
1     2001-01-31 16:40:00     -5      1093    FLL         ISP
2     2001-02-11 18:39:00      3       293    LBB         DAL
3     2001-01-10 21:00:00    -15       550    MSY         MCO
4     2001-03-30 21:45:00     -2       229    STL         IND
...                   ...    ...       ...    ...         ...
19995 2001-03-22 15:10:00      4       446    SAN         OAK
19996 2001-01-19 13:05:00     -6      1489    SEA         MCI
19997 2001-02-07 11:37:00    -16      1848    MCO         PHX
19998 2001-02-24 16:50:00     42       443    RDU         BNA
19999 2001-03-14 11:33:00      0       328    ABQ         PHX

[20000 rows x 5 columns]

- Convert any negative delays to 0.
- Which hour of the day has the highest average delay?
- Does the day of the week make a difference in the delay amount?
- Does the month make a difference in the delay amount?

# Bonus

In [5]:
from vega_datasets import data
data.iowa_electricity()

         year          source  net_generation
0  2001-01-01    Fossil Fuels           35361
1  2002-01-01    Fossil Fuels           35991
2  2003-01-01    Fossil Fuels           36234
3  2004-01-01    Fossil Fuels           36205
4  2005-01-01    Fossil Fuels           36883
5  2006-01-01    Fossil Fuels           37014
6  2007-01-01    Fossil Fuels           41389
7  2008-01-01    Fossil Fuels           42734
8  2009-01-01    Fossil Fuels           38620
9  2010-01-01    Fossil Fuels           42750
10 2011-01-01    Fossil Fuels           39361
11 2012-01-01    Fossil Fuels           37379
12 2013-01-01    Fossil Fuels           34873
13 2014-01-01    Fossil Fuels           35250
14 2015-01-01    Fossil Fuels           32319
15 2016-01-01    Fossil Fuels           28437
16 2017-01-01    Fossil Fuels           29329
17 2001-01-01  Nuclear Energy            3853
18 2002-01-01  Nuclear Energy            4574
19 2003-01-01  Nuclear Energy            3988
20 2004-01-01  Nuclear Energy            4929
21 2005-01-01  Nuclear Energy            4538
22 2006-01-01  Nuclear Energy            5095
23 2007-01-01  Nuclear Energy            4519
24 2008-01-01  Nuclear Energy            5282
25 2009-01-01  Nuclear Energy            4679
26 2010-01-01  Nuclear Energy            4451
27 2011-01-01  Nuclear Energy            5215
28 2012-01-01  Nuclear Energy            4347
29 2013-01-01  Nuclear Energy            5321
30 2014-01-01  Nuclear Energy            4152
31 2015-01-01  Nuclear Energy            5243
32 2016-01-01  Nuclear Energy            4703
33 2017-01-01  Nuclear Energy            5214
34 2001-01-01      Renewables            1437
35 2002-01-01      Renewables            1963
36 2003-01-01      Renewables            1885
37 2004-01-01      Renewables            2102
38 2005-01-01      Renewables            2724
39 2006-01-01      Renewables            3364
40 2007-01-01      Renewables            3870
41 2008-01-01      Renewables            5070
42 2009-01-01      Renewables            8560
43 2010-01-01      Renewables           10308
44 2011-01-01      Renewables           11795
45 2012-01-01      Renewables           14949
46 2013-01-01      Renewables           16476
47 2014-01-01      Renewables           17452
48 2015-01-01      Renewables           19091
49 2016-01-01      Renewables           21241
50 2017-01-01      Renewables           21933

- For each row, calculate the percentage of the year's total that energy source provided.
- Lineplot of generation over time, color by source
- Display the data as table where years are columns, and energy source is rows (Hint: df.pivot_table)
- Make a line plot that shows the amount of energy generated over time. Each source should be a separate line?
- Is the total generation increasing over time?
    - How would you control for increasing consumption over time when considering how much energy is coming from each source?
    - express each number as a % of the year's total

1. Use the sf_temps dataset
2. Create 4 categories for temperature, cold, cool, warm, hot (hint: use pd.cut or pd.qcut for this)
3. How does the occurances of these 4 categories change month over month? i.e. how many days have each distinction? Visualize this and give the visual appropriate colors for each category.
4. Create pretty labels for time plots
5. Visualize the number of days of each month that fall into each bin by year (e.g. x=month, y=n_days, hue=temp_bin) or st similar

# Explore the birdstrikes dataset.

In [7]:
df = data.birdstrikes()